USE [master]
GO
/****** Object:  Database [MovieDb]    Script Date: 2/9/2020 3:07:05 AM ******/
CREATE DATABASE [MovieDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MovieDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MovieDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/9/2020 3:07:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieModel]    Script Date: 2/9/2020 3:07:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReleaseYear] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[OriginEthinicity] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NULL,
	[Cast] [nvarchar](max) NULL,
	[Genre] [nvarchar](max) NULL,
	[WikiPage] [nvarchar](max) NULL,
	[Plot] [nvarchar](max) NULL,
 CONSTRAINT [PK_MovieModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
